* {
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  border-radius: 10px;
  border: 2px solid olive;
}

#screen {
  width: 200px;
  height: 60px;
  background-color: lightgreen;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: right;
  border-radius: 5px;
}

#screenInputedValue {
  display: flex;
  width: 200px;
  font-size: 1.2rem;
  height: 1.5rem;
}

#inputedValue {
  width: 170px;
  font-size: 1.2rem;
  height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#operator {
  width: 25px;
  font-size: 1.2rem;
  height: 1.5rem;
}
#currentValue {
  font-size: 1.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  justify-content: center;
  margin-bottom: 10px;
}

.btn {
  height: 50px;
  width: 50px;
  margin: 1px 0;
  border-radius: 10px;
}

.big-btn {
  width: 100px;
}

.misc {
  background-color: #ffc436;
}
